<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="@Url.Content("~/Content/Images/oferta1.jpg")" style="width:100%" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Content/Images/oferta2.jpg")" style="width:100%"  class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Content/Images/oferta3.jpg")"  style="width:100%"  class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<!-- /.carousel -->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-circle" src="@Url.Content("~/Content/Images/img3.jpg")">
            <h2>Sanătos</h2>
            <p>La noi găsești mâncăruri care îți oferă o stare de bine!</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="@Url.Content("~/Content/Images/img1.jpg")">
            <h2>Gustos</h2>
            <p>Fiecare înghițitura din mâncărurile noastre îți satisface toate simțurile!</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="@Url.Content("~/Content/Images/img2.jpg")">
            <h2>Proaspăt</h2>
            <p>Toate produsele noastre sunt preparate din cele mai pure ingrediente</p>
        </div>
    </div><!-- /.row -->
    <!-- FOOTER -->

</div><!-- /.container -->